@import '../../../../utils/colors.module.scss';

.non_author{
    height: 84px;
    aspect-ratio: 1/1;
    background-color: $main-color;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}