@import '../../../../utils/colors.module.scss';

.burger, .open_icon{
    height: 84px;
    aspect-ratio: 1/1;
    background-color: $main-color;
    border: none;
    border-right: 1px solid $main-hover-color;

    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
        background-color: $main-hover-color;
    }
}
