.mode_button{
    width: 50%;
    height: 80px;
    border-top: 1px solid #E8E8E8;
    background-color: transparent;
    cursor: pointer;

    &:nth-child(n + 1){
        border-left: 1px solid #E8E8E8;
    }

    &:disabled{
        & path{
            fill: #D9D9D9;
        }
    }
}

.inner_button{
    background-color: transparent;
}