@import '../../utils/colors.module.scss';

.add_post_backline {
    display: flex;
    align-items: center;

    & p,
    span {
        margin: 0 8px 32px 0;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        color: $dark-gray;
        cursor: default;
    }

    & p:first-child {
        color: $dark-mode-color;
        cursor: pointer;
    }

    & span {
        font-size: 18px;
    }

    & a {
        text-decoration: none;
    }
}

:global(.dark) .add_post_backline a p{
    color: rgb(255, 255, 255);
}

.add_post_header {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    color: $dark-mode-color;

    margin: 0 0 64px;
}

:global(.dark) .add_post_header {
    color: rgb(255, 255, 255);
}

.add_post_image_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 33px;
}

.textarea_container{
    & div:first-child textarea {
        height: 98px;
    }

    & div:last-child textarea {
        height: 245px;
    }
}

.buttons_block{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;

    & > input, button{
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;

        background-color: transparent;
        border: none;
        color: $dislike-color;

        cursor: pointer;
    }

    & > input:disabled{
        cursor: not-allowed;
        color: $dark-gray;
    }

    & div > input:first-child {
        margin-right: 24px;
    }
}