.bigPost{
    width: 736px;
    display: grid;
    grid-template-columns: calc(63% - 16px) calc(37% - 16px);
    column-gap: 32px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 40px;

    & h3 {
        margin: 0 0 8px;
        font-weight: 400;
        font-size: 16px;
        color: #8D8E97;
    }

    & h2 {
        font-weight: 700;
        font-size: 32px;
    }

    & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #8D8E97;
        margin: 24px 0 31px;
    }
}

.buttons {
    display: flex;
    width: 72px;
    gap: 24px;
    margin-bottom: 40px;

    &:last-child {
        justify-self: flex-end;
    }
}