.post{
    width: 100%;
    display: grid;
    grid-template-columns: calc(63% - 16px) calc(37% - 16px);
    column-gap: 32px;
    border-bottom: 2px solid #DADADA;


    & h4{
        margin: 0 0 8px;
        font-weight: 400;
        font-size: 16px;
        color: #8D8E97;
    }

    & h2{
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        text-transform: capitalize;
        color: #313037;

        &:hover{
            color: #2231AA;
            cursor: pointer;
        }
    }
}

.post_image{
    grid-column: 2/3;
    height: 244px;
    & img{
        width: 100%;
        object-fit: cover;
    }
}

.body_text{
    width: 100%;
    max-height: 168px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8D8E97;
    margin: 24px 0 31px;
}

.like_dis{
    display: flex;
    margin-bottom: 40px;

    & .like_buttons:first-child{
        margin-right: 24px;
    }
}

.dop_buttons{
    justify-content: flex-end;
}

:global(.dark) .post h2{
    color: #FFFFFF;

    &:hover{
        color: #2231AA;
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    width: 72px;
    gap: 24px;
    margin-bottom: 40px;

    &:last-child {
        justify-self: flex-end;
    }
}