.smallPost{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 352px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 40px;

    & h4{
        margin: 0 0 8px;
        font-size: 16px;
        font-weight: 400;
        color: #8D8E97;
    }

    & h3{
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }
}

.top {
    display: flex;
    gap: 34px;

    & img {
        height: 96px;
    }
}

.allButtons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    width: 72px;
    gap: 24px;
    margin-bottom: 40px;
}