@import '../../../utils/colors.module.scss';

.search{
    height: 84px;
    aspect-ratio: 1/1;
    background-color: $main-color;
    border: none;

    border-left: 1px solid $main-hover-color;
    border-right: 1px solid $main-hover-color;

    cursor: pointer;

    &:hover{
        background-color: $main-hover-color;
    }
}