.button {
    background-color: #2231AA;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    display: flex;
    gap: 16px;
    align-items: center;
    border: none;
    width: 230px;
    height: 84px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #5360CD;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    margin-left: 30px;
    width: 48px;
    height: 48px;
}