.button {
    background-color: #E8E8E8;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24;

    &:hover {
        background-color: #5360CD;
    }

    &:hover path {
        fill: white;
    }
}